###############################################################################
# Log forwarder configuration file                                    #
# Source: file                                                                #
# Available customization parameters: attributes, max_line_kb, pattern        #
###############################################################################
{% if 'web-server' in grains.get('roles',[]) %}
logs:
    # PHP FPM Error Logs
  - name: php-fpm
    file: /var/log/php-fpm/error.log

{% if 'www' in grains.get('env',[]) %}

    # NGINX Logs
  - name: {{ pillar.project }}
    file: /var/log/nginx/{{ pillar.project }}_www.log

{% endif %}

{% endif %}