###############################################################################
# Log forwarder configuration file                                    #
# Source: file                                                                #
# Available customization parameters: attributes, max_line_kb, pattern        #
###############################################################################
{% if 'web-server' in grains.get('roles',[]) %}
logs:
{% for env in grains.env -%}
{% for site_name, site in pillar.vhosts.sites.items() -%}
{% for instance_name, instance in site.instances.items() -%}
{% if env == instance_name %}
  - name: {{ site_name }}_{{ instance_name }}
    file: /var/log/nginx/{{ site_name }}_{{ instance_name }}.log
{% endif %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
  - name: nginx error
    file: /var/log/nginx/error.log

  - name: php-fpm
    file: /var/log/php-fpm/error.log
{% endif %}