{% from "f1newrelic/map.jinja" import infra_agent_name, project, newrelic_license with context %}

license_key: {{ newrelic_license }}
display_name: {{ project }}.byf1.dev ({{ infra_agent_name }})

{% if grains.roles is defined -%}
custom_attributes:
{% for role in grains.roles -%}
  role: {{ role }}
{% endfor %}
{%- endif %}