license_key: {{ newrelic_license }}
display_name: {{ project }}.byf1.dev ({{ infra_agent_name }})
{% if 'utility' in roles %}
custom_attributes:
  role: utility
{%- endif %}

metrics_nfs_sample_rate: -1